/* Definindo cores principais como variáveis */
:root {
    --cor-fundo: #e65c00;
    --cor-principal: #ff9100;
    --cor-link: #007bff;
    --cor-link-hover: #0056b3;
    --cor-texto: #333;
    --cor-background: rgba(255, 255, 255, 0.9);
    --cor-barra-progress: #eee;
    --cor-consumido: red;
    --cor-barra-limit: green;
    --cor-menu-background: rgba(255, 255, 255, 0.9);
}

/* Estilo geral do body */
body {
    background-color: var(--cor-fundo);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Menu */
.menu {
    width: 100%;
    background-color: var(--cor-menu-background);
    padding: 10px 0;
    text-align: center;
    position: fixed;
    z-index: 1000;
}

/* Links do menu */
.menu a {
    color: var(--cor-link);
    text-decoration: none;
    margin: 0 15px;
}

.menu a:hover {
    background-color: var(--cor-principal);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    
}

/* Container principal */
.Container {
    display: flex;
    flex-direction: column; /* Faz os elementos ficarem um abaixo do outro */
    align-items: center; /* Centraliza os conteúdos */
    gap: 40px; /* Espaço entre as seções */
    width: 100%;
    margin-top: 60px; /* Para compensar o menu fixo */
}


/* Estilo da seção de início */
.inicio, .Cardapio {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: var(--cor-background);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


/* Títulos principais */
h1, h2 {
    color: var(--cor-principal);
    text-align: center;
}

/* Estilo dos parágrafos */
p {
    color: var(--cor-texto);
    line-height: 1.6;
}

/* Barra de progresso */
.progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: var(--cor-barra-progress);
}

.progress-bar-consumed {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--cor-consumido);
}




/* Carrossel */
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0 40px; /* Adicionado padding para dar espaço às setas */
    box-sizing: border-box; /* Garante que o padding seja incluído na largura total */
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide div {
    min-width: 100%;
}

/* Botões do carrossel */
.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1; /* Garante que as setas fiquem acima do conteúdo */
}

.carousel-prev {
    left: 0; /* Ajustado para começar no início do padding */
}

.carousel-next {
    right: 0; /* Ajustado para terminar no final do padding */
}

.cardapio {
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

.Cardapio-Container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Cartões de Pratos */
.Cardapio-Item {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 400px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    perspective: 1000px; /* Adiciona perspectiva para o efeito de flip */
    overflow: hidden;
}

.Cardapio-Item .card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.Cardapio-Item.flipped .card-inner {
    transform: rotateY(180deg); /* Gira o cartão */
}

.Cardapio-Item .card-front,
.Cardapio-Item .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Esconde a parte de trás durante a animação */
}

.Cardapio-Item .card-front {
    background-color: #fff;
    padding: 20px;
}

.Cardapio-Item .card-back {
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Cardapio-Item .card-back h3 {
    color: var(--cor-principal);
}

.Cardapio-Item .card-back p {
    margin-bottom: 10px;
}

.Cardapio-Item .card-back .botao-compra {
    align-self: center;
    background-color: var(--cor-principal);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.Cardapio-Item .card-back .botao-compra:hover {
    background-color: #e65c00;
}


/*animaçao da classes pai 'inico', 'cardaio' saindo da trasparenceia com o movimento de subir*/
.inicio, .cardapio {
    animation: fadeInUp 1s forwards;
    opacity: 0;
    transform: translateY(50px);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



